<div class="centerScreen">
    <!-- <p>login works!</p> -->
    <p-card header="Sign In" [style]="{width: '280px'}" styleClass="mystyle">

        <span class="p-float-label">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Username</label>
        </span><br>

        <span class="p-float-label">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Password</label>
        </span><br>
        <button pButton type="submit" label="Sign In" ></button>
    </p-card>
</div>