<a routerLink=''>   
    <button class="btn btn-primary" type="button">Back</button>
</a>
<div class="centerScreen">
    <p-card header="Sign In" [style]="{width: '280px'}" styleClass="mystyle">
  
        <span class="p-float-label">
            <input id="float-input" type="text" value="{{name}}" pInputText > 
            <label for="float-input">Username</label>
        </span>
        <br>
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="password"> 
            <label for="float-input">Password</label>
        </span>
        <br>
        <button pButton type="submit" label="SignIn" (click)="ShowPW()" ></button>
        <br>
        <h1>PW is {{password}}</h1>
        <h2 (click)="goToShop()">If you want to go to the shop</h2>
        <button class="btn btn-primary" type="button" (click)="listUser()">Request</button>
    </p-card>
</div>